.wrapper {
  max-width: 70vw;
  position: relative;
  margin: auto;
}

.listItem {
  overflow: hidden;
  margin-bottom: 2rem;
}

.list {
  font-size: 2rem;
}

.asterisk {
  position: absolute;
  color: deeppink;
  font-size: 20rem;
  font-family: "Iosevka";
  bottom: -10rem;
  right: 12rem;
  height: min-content;
}
